
@{
    ViewBag.Title = "ShowAccLedger";
}

<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

<div class="container-fluid">
    <div class="card shadow mb-4">
    

        @using (Ajax.BeginForm("ShowAccLedger", "Masters", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "report", OnBegin = "showloader()", OnComplete = "hideloader()", OnSuccess = "hideloader()" }, new { @Id = "accledger" }))
        {
            <form id="accledger">
                <div class="card-header py-3" style="background-color:#5a5c69">
                    <div class="row">
                        <div class="col-11">
                            <h3 class="m-0 font-weight-bold" style="color: white;">General Ledger</h3>
                        </div>
                        <div class="col-1 d-flex justify-content-end">
                            <button type="submit" id="btnSubmit" class="btn btn-success ">
                                <i class="glyphicon glyphicon-share"></i> Preview
                            </button>
                        </div>
                    </div>
                    <p hidden id="vouchertypeid">9</p>

                </div>



                <div class="card-body">
                    <lablel class="col-md-2" style="color:black">Account Code</lablel>
                    <div class="col-md-3">
                        @*@Html.TextBox("accountcodeff", "", htmlAttributes: new { @class = "form-control", @Id = "accountcode" })*@
                        <input class="form-control" />
                    </div>
                    <br />
                    <br />
                    <lablel class="col-md-2" style="color:black">Account Name</lablel>
                    <div class="col-md-3">
                        @Html.DropDownList("accountname", (IEnumerable<SelectListItem>)ViewBag.accounts, "---Select AccountName---", htmlAttributes: new { @class = "form-control js-example-basic-single", @Id = "Partyid_Accountid" })
                    </div>
                    <br />
                    <br />
                    <lablel class="col-md-2" style="color:black">Starting Date</lablel>
                    <div class="col-md-3">
                        <input required class="form-control" id="startdate" name="startdate" type="date" />
                    </div>
                    <br />
                    <br />
                    <!---->
                    <lablel class="col-md-2" style="color:black">Ending Date</lablel>
                    <div class="col-md-3">
                        <input required class="form-control" id="enddate" name="enddate" type="date" />
                    </div>
                    <br />
                    <br />
                    <lablel class="col-md-2" style="color:black">Narration</lablel>
                    <div class="col-md-3">
                        <textarea class="form-control" id="Narration" placeholder="Enter Voucher Narration"></textarea>
                    </div>

                    <br />
                    <br />
                    <br />

                    <lablel class="col-md-2" style="color:black">Show Opening</lablel>
                    <div class="col-md-10">
                        <input type="checkbox" class="form-check-input form-check form-check-inline" id="exampleCheck1">
                    </div>
                    <br />
                    <br />
                    <div class="col-md-offset-9">
                    </div>
                </div>
            </form>
        }
    </div>


    <div id="wait" class="text-center" style="display:none;">
        <p><img src="~/startbootstrap-sb-admin-2-master/img/ajax-loader.gif" /> Please Wait</p>
    </div>

    <h1>@ViewBag.message</h1>
    <div id="report">

    </div>
   
</div>



<link href="~/Scripts/chosen/select2-4.1.0-beta.1/dist/css/select2.css" rel="stylesheet" />
<script src="~/Scripts/chosen/select2-4.1.0-beta.1/dist/js/select2.full.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha512-f04GBpoqEZhbyjlRTuXeg8FIHDb+xfCJ0LVdqiN1fEl5B3jz3Z0SPe9IxDumOVdTeeXmKMcMJhb26VuGf1Laqw==" crossorigin="anonymous"></script>

<script>

        @*$('#btntest').click(function () {

            $.ajax({
            type: 'GET',
            data: { accountname: accountid, startdate: sdate, enddate: edate },
            url: "@Url.Action("testview","Masters")",
            beforeSend: function () { $('#wait').show(); },
            complete: function () { $('#wait').hide(); },
            success: function (response) {

                debugger;
                $('#report').empty();
                $('#report').append(response);

            },
            error: function (response) {
                $('#report').append(response);
            }


           }).done(function (data) {
            alert("Voucher Save Successfully ");
            //location.reload();

           }).fail(function (jqXHR, textStatus) {
            alert("Your Voucher cant be save,Contact Admin" + jqXHR.responseText);
           });
        });*@


        var ed = new Date();
        ed.setDate(ed.getDate() + 1);
        document.querySelector("#enddate").value = ed.toISOString().substr(0, 10);


        var d = new Date();
        d.setDate(d.getDate() - 30);
        document.querySelector("#startdate").value = d.toISOString().substr(0,10);



        function showloader() {
            //$('#wait').css("display', 'normal');
            $(".se-pre-con").fadeIn("slow");

        }

        function hideloader() {
            $(".se-pre-con").fadeOut("slow");

        }

        $('#Partyid_Accountid').select2();

        $(document).on({
            keydown: function (ev) {
                if (ev.which === 13) {   // enter button
                    debugger;


                    var accountid = $('#Partyid_Accountid option:selected').text();
                        //$('.select2-selectio  n--single').focus();
                        //$('table tfoot tr th span').attr("aria-labelledby", "select2-itemname-container").focus()
                        if (accountid == "---Select AccountName---") {
                            $('#Partyid_Accountid').focus();

                        }


                }
            }
        });



        $("#Partyid_Accountid").on({
            keydown: function (ev) {
                if (ev.which === 13) {   // enter button
                    var accid = parseInt($('#Partyid_Accountid option:selected').val());
                    debugger;
                    if (accid > 0) {
                        $('#Narration').focus();
                    }
                    else {
                        $('#startdate').focus();


                    }

                }
            }
        });
        $("#startdate").on({
            keydown: function (ev) {
                if (ev.which === 13) {   // enter button
                    var accid = $('#startdate').val();

                    if (accid != null) {
                        $('#enddate').focus();
                    }
                    else {
                        $('#startdate').focus();


                    }

                }
            }
        });
        $("#enddate").on({
            keydown: function (ev) {
                if (ev.which === 13) {   // enter button
                    var accid = $('#enddate').val();

                    if (accid != null) {
                        $('#enddate').focus();
                    }
                    else {
                        $('#btnSubmit').focus();


                    }
                }
            }
        });










        @*$('#btnSubmit').click(function () {
            var accountid = parseInt($('#Partyid_Accountid option:selected').val());
        var sdate = $('#startdate').val();
        var edate = $('#enddate').val();
        debugger;


           $.ajax({
            type: 'POST',
            data: { accountname: accountid, startdate: sdate, enddate: edate },
            url: "@Url.Action("ShowAccLedger","Masters")",
            beforeSend: function () { $('#wait').show(); },
            complete: function () { $('#wait').hide(); },
            success: function (response) {

                debugger;
                $('#report').empty();
                $('#report').append(response);

            },
            error: function (response) {
                $('#report').append(response);
            }


           }).done(function (data) {
            alert("Voucher Save Successfully ");
            //location.reload();

           }).fail(function (jqXHR, textStatus) {
            alert("Your Voucher cant be save,Contact Admin" + jqXHR.responseText);
           });


        });*@













</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

