
<form id="empform">
    <input type="hidden" hidden="hidden" name="Emp_id" class="form-control" id="Emp_id" />

    <label class="col-sm-4">Employee Name</label>
    <input type="text" name="Name" class="form-control" id="Name" />
    <br />
    <label class="col-sm-4">Address</label>
    <input type="text" name="Address" class="form-control" id="Address" />
    <br />
    <label class="col-sm-4">City</label>
    <input type="text" name="City" class="form-control" id="City" />
    <br />
    <label class="col-sm-4">Pin Code</label>
    <input type="number" name="Pin_Code" class="form-control" id="Pin_Code" />
    <hr />

    <label class="col-sm-4">Designation</label>
    <input type="text" name="Designation" class="form-control " id="Designation" />
    <br />
    <label class="col-sm-4">EmpCode</label>
    <input type="text" name="class_section" class="form-control" id="class_section" />





</form>